.slide {
    width: 100%;
    height: 275rpx;
    padding: 12rpx;
    box-sizing: border-box;
    border: 1px solid hotpink;
}

.slide .slide-list {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   height: 100%;
   overflow-x: auto;
   display: -webkit-box;
   -webkit-overflow-scrolling: touch;
}
.slide .slide-list .item {
    width: 70%;
    height: 100%;
    padding: 12rpx;
    box-sizing: border-box;
    border-right: 1px solid #eee;
}
.slide ::-webkit-scrollbar {display: none;}